@media only screen and (min-width: 480px) and (max-width: 760px) {

.fly-pods1,
.fly-pods2,
.fly-pods3,
.fly-pods4,
.follow-us,
.buy-now,
footer {
    max-width: 760px;
}

.fly-pods1-grid-container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "first second"
        "third fourth"
        "fifth sixth"
        "ninth";
}

.first-img,
.second-img,
.third-img,
.fourth-img,
.fifth-img,
.sixth-img {
    background-image: url("../images/final3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-self: center;
    width: 100%;
    height: 100%;
}

#seventh {
    display: none;
}

#eight {
    display: none
}


.fly-pods3 {
    grid-template-rows: 80px 98px 1fr 1.5fr;
}

}

@media only screen and (min-width: 760px) and (max-width: 960px) {

}

@media only screen and (min-width: 960px) and (max-width: 1200px) {

}