/* Basics */

html>* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: operetta-12, serif;
    font-style: normal;
}

/* Sections */

.home, .fly-pods1, .fly-pods2, .fly-pods3, .fly-pods4, .follow-us, .buy-now, footer {
    height: 100vh;
}

.fly-pods1, .fly-pods2, .fly-pods3, .fly-pods4, .follow-us, .buy-now, footer {
    display: grid;
    max-width: 480px;
}

.fly-pods1 {
    grid-template-areas: "menu"
                         "none flypods1-grid-con";
    grid-template-columns: 60px 315px;
    grid-template-rows: 80px 1fr 80px;
}

.fly-pods2 {
    grid-template-areas: "menu"
                         "none flypods2-img"
                         "none flypods2-text";
    grid-template-columns: 60px 310px;
    grid-template-rows: 80px 1fr 2fr;
}

.fly-pods3 {
    grid-template-areas: "menu"
                         "none flypods3-h2"
                         "none flypods3-img"
                         "none flypods3-text";
    grid-template-columns: 60px 310px;
    grid-template-rows: 80px 105px 215px 2fr;
}

.fly-pods4 {
    grid-template-areas: "menu"
                         "none flypods4-img"
                         "none flypods4-h2-group"
                         "none flypods3-text";
    grid-template-columns: 60px 310px;
    grid-template-rows: 80px 240px 80px 2fr;
}

.follow-us {
    grid-template-areas: "menu"
                         "none socialmedia"
                         "none follow-us-h2";
    grid-template-columns: 50px 310px;
    grid-template-rows: 80px 2fr 1fr;
}

.buy-now {
    grid-template-areas: "menu"
                         "none buy-now-img1"
                         "none buy-now-img2 buy-now-h2"
                         "none buy-now-img3";
    grid-template-columns: 60px 155px 155px;
    grid-template-rows: 80px 1.25fr 50px 2fr;
    row-gap: 15px;
}

footer {
    grid-template-areas: "newsletter-up-side" 
                         "newsletter-img";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    background-color: black;
    color: white;
}

/* Nav & lists*/ 

.header-ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 15px;
}

.lang-changer {
    display: flex;
    width: 60px;
    justify-content: space-between;
    align-items: center;

}

/* Headers */

h1, h2, h3 {
    font-family: operetta-12, serif;
    font-style: normal;
    color: black;
}

h1, h2 {
    font-size: 50px;
    letter-spacing: 4.5px;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-size: 18px;
}

.vertical-text-wrapper {
    min-height: 150px;
    padding: 15px;
    display: inline-block;
    position: sticky;
    bottom: 50%;
    left: 0;
    margin-left: 0;
    transform: rotate(90deg);
    transform-origin: 0;
}

.extra-light-h2 {
    font-weight: 200;
    font-size: 23px;
}

#flypods3-h2 h2 {
    text-align: right;
}

#flypods4-h2-group h2:nth-of-type(1), #flypods4-h2-group h2:nth-of-type(2) {
    text-align: center;
}

#flypods4-h2-group h2:nth-of-type(2) {
    position: absolute;
    top: 3Px;
}

/* Paragraphs */

p {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1.29px;
    line-height: 25px;
    text-align: center;
}

.header-p {
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 30px;
    font-weight: 200;
    text-align: right;
    text-transform: uppercase;
}

.second {
    position: absolute;
    top: -5px;
}

.third, .fourth {
    transform: rotate(180deg);
    transform-origin: 53% 7%;
}

.fourth {
    position: absolute;
    top: 74px;
}

.gravity-free-motion {
    color: black;
    position: relative;
}

.gravity-free-motion p {
    font-size: 20px;
}

.gravity-free-motion p:nth-of-type(2) {
    position: absolute;
    top: 5px;
}

.news-letter-text p:nth-of-type(1), .news-letter-text p:nth-of-type(2){
    font-size: 25px;
    line-height: 40px;
}

.news-letter-text p:nth-of-type(2) {
    position: absolute;
    top: -21px;
    font-weight: 300;
}

/* Imgs */

.header-img {
    width: 316px;
    height: 231px;
    margin-right: 5px;
}

.fly-pods2-img {
    width: 330px;
}

.fly-pods3-img, .fly-pods4-img {
    width: 310px;
}

/* Text */

a {
    text-decoration: none;
    color: black;
    font-weight: 200;
}

/* div */

.flex-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.flex-img-p {
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: center;
}

.flex-header-p {
    position: relative;
    right: 4.5%;
    top: 2%;
}

.fly-pods1-grid-container {
    display: grid;
    max-width: 100vw;
    grid-template-columns: 60px 157.5px 157.5px;
    grid-template-rows: repeat(5, 116px);
    justify-items: start;
    grid-template-areas:
        "none first second"
        "none third fourth"
        "none fifth sixth"
        "none seventh eight"
        "none ninth";
}

.newsletter-email-container input {
    padding: 9px;
    border-radius: 18px;
    background: #000000 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    font-weight: 200;
    text-align: center;
}

.newsletter-button input {
    padding: 5px 19px;
    border-radius: 18px;
    background: white 0% 0% no-repeat padding-box;
    border: 1px solid black;
    color: black;
    font-weight: 200;
}

/* Grid ID */

#flypods1-grid-con {
    grid-area: flypods1-grid-con;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: end;
}

#first, #second, #third, #fourth, #fifth, #sixth, #seventh, #eight {
    background-image: url("../images/final3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-self: center;
}

#first, #third, #fifth, #seventh {
    transform: rotate(90deg);
    background-position: right top;
    width: 116px;
    height: 157.5px;
    justify-self: center;
}


#second, #fourth, #sixth, #eight {
    width: 157.5px;
    height: 116px;
}

#first {
    grid-area: first;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#second {
    grid-area: second;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
}

#third {
    grid-area: third;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#fourth {
    grid-area: fourth;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: end;
}

#fifth {
    grid-area: fifth;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#sixth {
    grid-area: sixth;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: end;
}

#seventh {
    grid-area: second;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

#eight {
    grid-area: eight;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: end;
}

#ninth {
    grid-area: ninth;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-self: center;
}

#flypods2-img {
    grid-area: flypods2-img;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}

#flypods2-text {
    grid-area: flypods2-text;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    text-align: justify;
    padding: 0 10px;
}

#flypods3-h2 {
    grid-area: flypods3-h2;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: end;
    width: 66%;
    line-height: 30px;
    align-self: end;
}

#flypods3-img {
    grid-area: flypods3-img;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
}

#flypods3-text {
    grid-area: flypods3-text;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: justify;
    padding: 0 10px;
}

#flypods4-img {
    grid-area: flypods4-img;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}

#flypods4-h2-group {
    grid-area: flypods4-h2-group;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    position: relative;
}

#flypods4-text {
    grid-area: flypods4-text;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: justify;
    padding: 0 10px;
}

#socialmedia {
    grid-area: socialmedia;
    background-image: url("../images/social_media_mobile.png");
    width: 303px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
    justify-self: end;
}

#follow-us-h2 {
    grid-area: follow-us-h2;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: right;
    justify-self: end;
    width: 60%;
    height: 210px;
    position: relative;
}

#follow-us-h2 h2:nth-of-type(2) {
    transform: rotate(180deg);
    transform-origin: 46% 27.75%;
}
                                                      
#follow-us-h2 h2:nth-of-type(3) {
    transform: rotate(180deg);
    transform-origin: 45% 41.75%;
    position: absolute;
    top: 98px;
}

#buy-now-h2 {
    grid-area: buy-now-h2;
    grid-column: 2 / span 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    align-self: center;
    font-size: 25px;
}

#buy-now-h2 span {
    color: white;
    font-weight: 200;
}

#buy-now-img1, #buy-now-img2 {
    background-image: url("../images/final8.png");
}

#buy-now-img1 {
    grid-area: buy-now-img1;
    width: 290px;
    height: 180px;
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    align-self: start;
}

#buy-now-img2 {
    grid-area: buy-now-img2;
    width: 290px;
    height: 180px;
    transform: rotate(90deg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 3 / span 2;
    align-self: start;
}

#newsletter-up-side {
    grid-area: newsletter-up-side;
    display: grid;
    grid-template-areas: "newsletter-text"
                         "newsletter-form";
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 222px 180px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#newsletter-text {
    grid-area: newsletter-text;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    position: relative;
}

#newsletter-form {
    grid-area: newsletter-form;
    display: grid;
    grid-template-areas: "form-email"
                         "form-button";
    grid-template-rows: 60px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-items: center;
    align-items: start;
}

#newsletter-img {
    grid-area: newsletter-img;
    background-image: url("../images/Modelka\ se\ sluchaÃÅtky\ FlyPods4.jpg");
    filter: blur(5px);
    width: 375px;
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
}
